@charset "utf-8";

/*--------------------------------------------------------------------------------------------------

   common
         - header
            - nav
         - footer

--------------------------------------------------------------------------------------------------*/


/*reset-------------------------------------------------*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,header,section,article,aside,footer,nav,li  {
  margin: 0;
  padding: 0;
}

table {
 border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
  vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}

header,section,article,aside,footer,nav {
 display: block;
}

ul {
  list-style: none;
}

figure {
  margin:0px;
}
/*-------------------------------------------------reset*/


/*common-------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 18px;
  font-family: "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.8;
  width:100%;
}

a {
  text-decoration:none;
  cursor:pointer;
  color: #000;
}

a:hover {
  /*color:#FF9326;*/
}

.clear:after {
 content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear{
 overflow: hidden;
}

/* mac \*/
* html .clear {
 height: 1%;
}
.clear {
 clear: both;
}
/*-------------------------------------------------common*/


/*------------------------------------------------------------------------------------------------
  header
--------------------------------------------------------------------------------------------------*/

header {
  width: 100%;
  background:#313140;
  height:80px;
}

header .logo {
  margin-top:20px;
}

/*------------------------------------------------------------------------------------------------
  nav (japanese)
--------------------------------------------------------------------------------------------------*/

nav {
  height:24px;
  margin-top:40px;
}

nav li {
  float: left;
  text-indent: -9999px;
}

nav li:last-child {
  margin-right:0px;
}

nav li a {
  display: block;
  height:24px;
  margin-right:30px;
}

nav li#nav01 a:link,
nav li#nav01 a:visited {
  width: 90px;
  background: url(../image/gnavi.png) no-repeat 0px 0px;
}

nav li#nav02 a:link,
nav li#nav02 a:visited {
  width: 56px;
  background: url(../image/gnavi.png) no-repeat -120px 0px;
}

nav li#nav03 a:link,
nav li#nav03 a:visited {
  width: 104px;
  background: url(../image/gnavi.png) no-repeat -210px 0px;
}

nav li#nav04 a:link,
nav li#nav04 a:visited {
  width: 94px;
  background: url(../image/gnavi.png) no-repeat -344px 0px;
}

nav li#nav05 a:link,
nav li#nav05 a:visited {
  width: 106px;
  background: url(../image/gnavi.png) no-repeat -466px 0px;
}

/*------------------------------------------------------------------------------------------------
  content
--------------------------------------------------------------------------------------------------*/
.container {
  width:1000px;
  margin: 0 auto;
}

a#ptop {
  position: fixed;
  bottom: 305px;
  margin-right:25px;
  right:0;
}

.fl-left {
  float:left;
}

.fl-right {
  float:right;
}

.banner img {
  width:100%;
}

.content {
  width:100%;
}

/*------------------------------------------------------------------------------------------------
  footer
--------------------------------------------------------------------------------------------------*/
footer {
  position:relative;
}

.footer-top {
  width:100%;
  background:#0090BF url(../image/img-down.png) no-repeat top center;
  padding:48px 0;
  text-align:center;
}

.footer-bottom {
  width:100%;
  background:#313140;
  padding:15px 0;
}

.footer-bottom .logo {
  margin-left:30px;
  margin-right:60px;
}

.footer-bottom .menu {
  width:525px;
}

.footer-bottom .menu a {
  float:left;
  font-size:15px;
  color:#fff;
  line-height:1.2;
  width:130px;
  margin-bottom:12px;
  font-weight:bold;
}

.footer-bottom .menu a:last-child {
  width:170px;
}

.footer-bottom .coppy {
  text-align:center;
  color:#000;
  font-size:15px;
  line-height:1.2;
  font-weight:bold;
}

.img-chiroro {
  position:absolute;
  bottom:0;
  right:0;
  padding-bottom:5px;
  padding-right:5px;
}